<div id="card" class="card-i">
  <div class="percent">
    <svg>
      <circle
        id="circle1"
        cx="105"
        cy="105"
        r="100"
        style="--percent: 80;"
      ></circle>
      <circle
        id="circle2"
        cx="105"
        cy="105"
        r="100"
        style="--percent: {{val}}; --barColor: {{bar_color}}"
      ></circle>
    </svg>
    <div class="number">
      <div id="indicator" style="transform :rotate({{deg}}deg) " class="indicator">
        <div class="arrow-up" style="--arrowColor: {{arrow_color}}"></div>
        <span id="dot" class="dot" style="background: {{background}};"></span>
      </div>
    </div>
  </div>
  <div id="count" class="count">{{val}}%</div>
  <div class="footer">
    <span>0</span>
    <span>100</span>
  </div>
</div>